@import 'constants';

body, html {
  font-family: segoe ui;
  line-height: 1.5;
  color: $main-font-colour;
  margin: 0;
  padding: 10px;
}

.container {
  width: 800px;

  p {
    &.enhanced {
      color: $enhanced-colour;
    }
  }

  a {
    color: $link-colour;
    text-decoration: none;
  }
}

.modal {
  height: 100%;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  background-color: hsla(0, 0%, 40%, 0.8);
  z-index: 1;
}

.modal-content {
  margin: 10% auto;
  width: 200px;
  background-color: #fff;
  padding: 2em;
}

.row {
  display: flex;
  justify-content: flex-start;
  
  &--align-right {
    justify-content: flex-end;
  }
}
